$blanc : #fff;
$noir : #000;
$gris : #e5e5e5;
$gris-txt : #414141;
$bleu : #4aa6e7;
$bleu-fonce : #31648a;
$grenat : #9e3c3a;
$grenat-titre : #a61b21;
$jaune : #f3e124;

$candara_italic : 'Candara-Italic';
$gidole : 'gidole';
$arial : 'Arial',sans-serif;
$verdana : 'Verdana',sans-serif;
